<h1>Name: <%= @employee.full_name %></h1>
<h1>Alias: <%= @employee.alias %></h1>
<h1>Title: <%= @employee.title %></h1>
<h1>Office: <%= @employee.office %></h1>

<h1>Picture: <%= @employee.img_url%></h1>
